*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  
}
.nav-section{
  z-index: 1;
}
.effect{
  z-index: 0;
}

.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-main);
}

.logo {
  text-decoration: none;
  color: black;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.menu-link:hover {
  text-decoration: underline;
}
.transparent-div{
  background-color: rgba(255, 0, 0, 0.5);
}
.bubble-container{
  position: relative;
  width: 100%;
  height: 15vh;
  overflow: hidden;
}
.bubbles{
  position: relative;
  display: flex;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: lightblue;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #00d0ff44, 
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
  background-color: yellow;
  box-shadow: 0 0 0 10px rgb(112, 112, 55), 
  0 0 50px yellow,
  0 0 100px yellow;
}
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(1);
  }
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto; 
  color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}
.image{
  width: 45%;
  border-radius: 50px;
}
.button{
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: rgb(0, 191, 255);
  border: solid 1px ;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.button:hover{
  background-color: rgb(255, 208, 0);
}
.list{
  text-decoration: none;
}
.arrow{
  padding: 15px;
  font-size: 15px;
  background-color: rgb(0, 191, 255);
  border: solid 1px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
}
.arrow:hover{
  background-color: rgb(255, 208, 0);
}
.info-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  z-index: 12;
  border: solid 1px;
}
.img{
  width: 40px;
  height: 40px;
  display: block;
}
.skills-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  background-color: transparent;
}

.links{
  display: flex;
  justify-content: space-around;
}
.introduction{
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}
.parrafo{
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  width: auto;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 600px;
  grid-template-rows: 320px;
  gap: 10px;
 
}
.about-me{
  display: flex;
  justify-content: left;
}
.footer{
  margin-top: 0; /* take available whitespace */
  margin-bottom: -10px;      /* remove bottom whitespace */
  padding-bottom: 5px;
  height: 250px;
  margin-top: 20px;
  border-top: solid 1px black;

}
.formulario {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: flex-start;
  
}

.formulario input {
  padding: .5rem;
  width: 18rem;
  border-radius: .5rem;
  border: 2px solid black;
}
.formulario textarea {
  padding: .5rem;
  width: 18rem;
  border-radius: .5rem;
  border: 2px solid black;
}

.formulario input:focus {
  outline: 0;
}
.socials{
  display: flex;
  justify-content: space-around;
  width: 10%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.form-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.projects{
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 30px 500px;
  gap: 20px;
  border-radius: 20px;
 
  
}
.projects div {
  
  border-radius: 5px;
}
.projects h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  
}
.project-content{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
  align-items: center;
}
.project-content img {
  width: 100%;
  border: solid 1px black;
  
  
}
.project-content p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}
.project-content h3 {
  margin-top: 10px;
  align-items: start;
  font-size: 20px;
}
.project-button{
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: rgb(0, 191, 255);
  border: solid 1px ;
  border-radius: 50px;
  color: black;
  font-weight: bold;
}
.project-button:hover{
  background-color: rgb(255, 208, 0);
  
}
.link{
  text-decoration: none;
  color: black;
}
.grid div{
  width: 100%;
  height: 100%;
}
@media (min-width:1320px){
  .projects{
    grid-template-rows: 30px 620px;
  }
}

@media (max-width:1300px){
  .profile-grid{
    width: 500px;

  }
  
}
@media (min-width:1312px){
  .profile-grid{
    
    display: flex;
    justify-content: center;
  }
  
}
@media(max-width: 1113px){
  .grid{
    width: 70%;
    grid-template-columns: 1fr;
    margin-right: auto;
    margin-left: auto;
  }
  .introduction{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
}
@media(min-width: 1320px){
  .image{
    width: 45%;
  }
}
@media(max-width: 502px){
  
  .footer{
    width: 100%;
  }
}
@media(max-width:465px){
  .menu-link{
    display: none;
  }
  .menu-icon {
    display: show;
  }
}
@media(min-width:465px){
  .menu-icon{
    display: none;
  }
}

.menu-icon img{
  width: 30%;
  height: 20%;
}
.menu-icon {
  width: 100px;
  background-color: white;
  border: none;
}
.blur{
  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1500px);
    width: 100px;
    height: 100px;
    background-color: #000000;
    width: 100%;
    height: 2600px;
  position: absolute;
  top: 105px;
  bottom: 0px;
  
}
.side-bar{
  background-color: white;
  width: 50px;
}



@media(max-width:380px){
  .container button{
    font-size: 12px;
  }
}
.side-bar{
  position: fixed;
  right: 0px;
  width: 90%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  
}
.side-bar ul{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.side-menu-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.side-menu-link:hover {
  text-decoration: underline;
}
@media(min-width: 1325px){
  .image{
    width: 320px;
  }
}
@media(min-width: 1021px){
  .image{
    width: 320px;
  }
}